.hero_section {
    background: linear-gradient(135deg, #0079bf, #5067c5);
    height: 100vh;
  }
  
  .hero_wrapper {
    background: linear-gradient(135deg, #0079bf, #5067c5);
    width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .hero_image {
    flex-basis: 45%;
  }
  
  .hero_text {
    flex-basis: 45%;
    color: #fff;
  }
  
  .hero_heading {
    font-weight: 500;
    line-height: 1.2;
    font-size: 3rem;
    margin-bottom: 0.3rem;
    color: #fff;
  }
  
  .hero_para {
    font-size: 1.6rem;
    font-weight: 300;
  }
  