@import "./css_reset.scss";
@import "./loader.scss";
@import "./header.scss";
@import "./home.scss";
@import  "./form.scss";
@import "./auth_home.scss";
@import "./create_team.scss";
@import "./feed.scss";
@import "./create_board.scss";
@import "./team_page.scss";

body {
  font-family: "Charlie Text",sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 81rem !important;
  margin: 0 auto;
}

* ,*::before ,*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a, button {
  cursor: pointer;
  outline: 0;
}

input, button, textarea, select {
  outline: 0;
}

.wall_image {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  position: fixed;
  bottom: 1rem;
  z-index: -1;
  flex-wrap: nowrap;

  div {
    flex-basis: 25%;
    opacity: 0.85;
    background-color: #fff;
  }
}


