.lists {
  display: flex;
  flex-wrap: nowrap;
  margin-right: 0.5rem;
  justify-content: space-between;
  .list_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .list_edit {
      button {
        border: none;
        height: 100%;
        padding: 0.2rem 0.5rem;
        border-radius: 0.25rem;
        background: transparent;

        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          transform: translateY(-25%);
        }
      }
    }
  }
  .list {
    background-color: #ebecf0;
    width: 17rem;
    margin-right: 3rem;
    border-radius: 0.18rem;
    font-size: 0.875rem;
    padding: 6px 8px;
    .title {
      padding: 0.25rem 0.5rem;
      font-size: 0.9rem;
      font-weight: 600;
      cursor: pointer;
      background: transparent;
      width: 90%;
    }

    .edit_list_name {
      width: 90%;
      border: 2px solid rgb(77, 152, 250) !important;
      padding: 0.25rem 0.75rem;
    }
    .add_card {
      width: 100%;
      padding: 0.25rem 0.5rem;
      color: #5e6c84;

      margin: 0.125rem 0rem 0.5rem 0.5rem;
      cursor: pointer;
    }

    .card:hover {
      .edit_icon {
        visibility: visible;
      }
    }

    .card {
      width: 100%;
      margin-bottom: 0.5rem;
      padding: 0.375rem 0.5rem 0.125rem 0.375rem;
      box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
      border: 0.25rem;
      background-color: #fff;
      overflow-wrap: break-word !important;
      border-radius: 0.25rem;
      cursor: pointer;
      min-height: 1.25rem;

      .card_title {
        overflow-wrap: break-word !important;
        overflow: scroll;
      }

      .card_mid {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          color: #5e6c84 !important;
          font-size: 0.75rem;
          padding: 0.15rem 0.2rem;
          visibility: hidden;
        }
      }

      .card_footer {
        display: flex;
        align-items: center;
        width: 50%;

        padding-bottom: 0.15rem;
        color: #5e6c84;

        .badge {
          display: flex;
          align-items: start;
          font-size: 0.75rem;
          margin: 0 0.15rem;
          border-radius: 0.18rem;
          padding: 0.1rem 0.25rem;
          margin-top: 0.5rem;

          i {
            padding-top: 0.2rem;
            padding-right: 0.25rem;
          }
        }
      }
    }
  }
}

.card_composer {
  min-height: 3.375rem;

  padding: 0.25rem 0.5rem;
  overflow: hidden;
  textarea {
    border: none;
    max-height: 10.125rem;
    width: 100%;
    resize: vertical;
    overflow-wrap: break-word;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    overflow-y: scroll;
  }
}

.labels {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .mark {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 40px;
    min-width: 40px;
    height: 8px;
    border-radius: 0.25rem;
  }
}

.list_popup_wrapper {
  width: 200px;
  padding: 0rem !important;

  .popup_heading {
    font-size: 0.875rem;
    color: #5e6c84;
    text-align: center;
  }
  .close_btn {
    font-size: 0.8rem;
    position: relative;
    left: 3.25rem;
    top: 0rem;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
  }

  .close_btn:hover {
    background-color: #eee;
  }

  .popup_list {
    p {
      box-sizing: border-box !important;
      cursor: pointer;
      color: #172b4d;
      font-size: 0.875rem;
      font-weight: 400;
      padding: 0.5rem 0.75rem;
    }

    p:hover {
      background-color: #dfe4df;
    }
  }
}

.card {
  .card_title {
    overflow-wrap: break-word !important;
  }
}
